.git
.gitignore
venv
.venv
env
bin
include
lib
share
__pycache__
**/__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ipynb_checkpoints
.env
.env.*
!.env.example
credentials.json
credentials.*.json
*.log
logs
**/watermark.json
deploy
docs
