# Credenciales de la Base de Datos MySQL
DB_HOST=localhost
DB_USER=usuario_mysql
DB_PASSWORD=contraseña_mysql
DB_NAME=nombre_base_datos

# Configuración de Google Sheets
SPREADSHEET_ID=id_de_tu_documento_google_sheets
SHEET_NAME=Hoja 1
